extends template.pug
include navbar.pug
include mixins.pug
block content
    .page
        .grid-container-blocks
            .grid-navbar-blocks
                +create_navbar('blocks')
            .grid-image1-blocks
                +page3_image
            .grid-image2-blocks
                +page3_image
            .grid-text1-blocks
                +page3_text1
            .grid-text2-blocks
                +page3_text2
            .grid-text3-blocks
                +page3_text3