mixin page1_text1
    p. 
        CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — 
        формальный язык описания внешнего вида документа, 
        написанного с использованием языка разметки.

mixin page1_text2
    p   
        img(src="img/css1.jpg")
        |Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, 
        |который может быть  применен к различным элементам страницы. 
        |Для присвоения какому-либо элементу определенных характеристик необходимо  
        |один раз описать этот элемент и определить это описание как стиль, 
        |а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.


mixin page2_text
    p
        |<em>font</em> - универсальное свойство, которое позволяет одновременно задать несколько характеристик шрифта и текста.<br>
        |Синтаксис<br>
        |<em>font: [font-style||font-variant||font-weight] font-size [/line-height] font-family | inherit</em>

    p
        |<em>font-style</em> - определяет начертание шрифта: обычное, курсивное или наклонное. Когда для текста установлено курсивное или наклонное начертание, браузер обращается к системе для поиска подходящего шрифта. Если заданный шрифт не найден, браузер использует специальный алгоритм для имитации нужного вида текста. Результат и качество при этом могут получиться неудовлетворительными, особенно при печати документа.<br>
        |Синтаксис<br>
        |<em>font-style: normal | italic | oblique | inherit</em>

mixin page2_images
    img(src="img/css-probely.png")
    img(src="img/css-text-decoration.png")
    img(src="img/css-text.png")

mixin page3_image
    img(src="https://stepik.org/media/attachments/course/114064/html_css_1.png")

mixin page3_text1 
    p.
        C’est sûr, rien qu’à entendre cette chanson, tu te vois déjà déballer tes* cadeaux! 
        Chaque année, tu gagnes un nouvel âge tout neuf. Et ça, ça se fête! 
        Mais sais-tu pourquoi on* fête les anniversaires? C’est sûr, rien qu’à entendre cette chanson, 
        tu te vois déjà déballer tes* cadeaux!

mixin page3_text3 
    p.
        Si le français est si difficile c’est parce qu’il comporte beaucoup de fantaisies. 
        Avec sa grammaire rigoureuse et son orthographe parfois originale son apprentissage se 
        révèle compliqué pour les enfants et les étrangers. 
        Il ne manque pas de bizarreries avec la distinction entre féminin et masculin ou une 
        prononciation qui ne correspond pas toujours à l’écriture. 
        Cette complexité est liée* à des origines multiples. 
        Globalement issu du latin, le français possède aussi des mots hérités des Gaulois et des Francs, 
        un peuple germanique. La langue évolue tout le temps en s’enrichissant de mots étrangers. 
        En connais-tu? «Kiffer» vient de l’arabe, par exemple. D’autres termes naissent de l’évolution 
        de la société ou des nouveautés technologiques. 
        Ce mélange fait du français une langue riche, très précise pour exprimer sa pensée.

mixin page3_text2
    p.
        La Tour Eiffel sert surtout à mener des expériences scientifiques. 
        Elle attire aussi des touristes du monde entier qui viennent admirer sa vue sur Paris. 
        Surnommée* « asperge de métal » par les Parisiens mecontents lors de sa construction car trop voyante,
        elle est devenue** le symbole de Paris et de la France. 
        Mais pourquoi l’a-t-on*** construite** ? La Tour Eiffel a permis** à la France de briller 
        lors de l’exposition universelle de 1889. Ces expositions organisées* à chaque 
        fois dans un pays différent dévoilent des inventions extraordinaires. 
        En 1889 c’est autour de Paris, pour l’occasion, 
        l’ingénieur Gustave Eiffel propose de construire la tour la plus haute**** du monde. 
        Après de longs mois de calculs et de fabrication des pièces qui vont la composer les 
        travaux débutent le 26 janvier 1886. Deux ans, deux mois et cinq jours plus tard 
        la Tour Eiffel surplombe la capitale. Un contrat prévoit que la tour au départ 
        à Gustave Eiffel revient à la ville de Paris au bout de 20 ans. 
        De peur qu’elle soit détruite*****, l’ingénieur prouve son utilité 
        en miltipliant les recherches scientifiques à son sommet. 
        Il y installe l’observatoire météo encore utilisée* de nos jours.